<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <header>
        <div class="logo"><p>Logo</p></div>
        <div class="item"><p>Sobre</p></div>
        <div class="item"><p>Produtos</p></div>
        <div class="item"><p>Contato</p></div>
    </header>
    <main>
        <div class="caixaSuperior">
            <div class="video"><iframe 
                src="https://www.youtube.com/embed/dWRCooFKk3c?si=JxjWEiALUALKUuQ6" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen></iframe> <p>Video 1</p> </div>
            <div class="video"></div>
            <div class="video"></div>
            
        </div>
        
    </main>
</body>
</html>